.App {
  text-align: center;
}


#CountPlayer{
  margin-bottom: 1px;
    margin-left : 1px;
    width: 120px;
    color: green;
    position: fixed;
    right: 0;
    top: 0;
}



#PlayerInfoContainer{
  display: grid;
    grid-template-columns: 50px 20px;
    grid-gap: 20px;
}


#PlayerInfoChild1{


}

#PlayerInfoChild2{
  
 
}

#Contener_Chat{
  position: fixed;
  bottom: 0;
  right: 0;
  border: 2px solid black;
}

#Contener_Message{
  width: 100%;
  height: 100px;
  background-color: silver;
  overflow-y: scroll;
}
#Message{
  margin-top:-20px; 
 
}